name: Build and Deploy

on:
  push:
    branches:
      - main
      - git-workflow


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: damg7245-assignment04
          service_account_key: ${{ secrets.GCLOUD_SA_KEY }}
          export_default_credentials: true

      # - name: Dockerize
      #   uses: docker/setup-docker@v1

      - name: Build Docker image
        id: docker_build
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t gcr.io/northamerica-northeast2-docker.pkg.dev/damg7245-assignment04/streamlit_application:$IMAGE_TAG ./frontend
          echo "::set-output name=IMAGE_TAG::gcr.io/northamerica-northeast2-docker.pkg.dev/damg7245-assignment04/streamlit_application:$IMAGE_TAG"

      - name: Configure Docker to use gcloud credentials
        run: |
          gcloud auth configure-docker

      - name: Push Docker image to GCR
        run: docker push ${{ steps.docker_build.outputs.IMAGE_TAG }}

      # - name: Pull latest image from Google Artifact Registry
      #   run: |
      #     IMAGE_TAG=$(gcloud artifacts docker images list --repository=streamlit_application --format='value(tags)' --limit=1)
      #     docker pull gcr.io/northamerica-northeast2-docker.pkg.dev/damg7245-assignment04/streamlit_application:${IMAGE_TAG}

      - name: Deploy with the new image
        run: |
          IMAGE_TAG=$(gcloud artifacts docker images list --repository=streamlit_application --format='value(tags)' --limit=1)
          echo "IMAGE_TAG=${IMAGE_TAG}"
          gcloud run deploy assignment04 \
            --image=gcr.io/northamerica-northeast2-docker.pkg.dev/damg7245-assignment04/streamlit_application:${IMAGE_TAG} \
            --platform=managed \
            --region=northamerica-northeast2

